<div class="container">
  <div class="columns is-centered mt-6">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Typing Challenge</h1>
      <p class="has-text-centered">{{ randomText }}</p>
      <div class="field mt-3">
        <div class="control">
          <input
            class="input is-primary"
            type="text"
            placeholder="Primary input"
            (input)="onInput($event.target.value)"
          />
        </div>
      </div>

      <div class="box has-text-centered" *ngIf="isSuccess">
        <h1 class="title">Success!</h1>
      </div>
    </div>
  </div>
</div>
